

<main class="column">
<nav class="breadcrumb is-medium" aria-label="breadcrumbs">
  <ul>
    <li><%= link_to "Dashboard", root_path %></li>
    <li class="is-active"><%= link_to "Survey Listings", users_manage_surveys_path, 'aria-current': "page" %></li>
  </ul>
</nav>
    <div class="level">
        <div class="level-left">
        <div class="level-item">
            <div class="title">Surveys Listing</div>
        </div>
        </div>
        <div class="level-right">
        <div class="level-item">
            <button type="button" class="button is-small">
            March 8, 2017
            </button>
        </div>
        </div>
    </div>

    <section class="columns is-multiline">
        <div class="column is-12">
            <%= link_to 'Add new survey', new_users_manage_survey_path, class: 'button is-primary', data: { turbolinks: false }%>
        </div>
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <div class="container">
                        <table class="display datatable" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Survey ID</th>
                                    <th>Status</th>
                                    <th>Title</th>
                                    <th>Error Check</th>
                                    <th>Group</th>
                                    <th>Created</th>
                                    <th>Owner</th>
                                    <th>Partial</th>
                                    <th>Full</th>
                                    <th>Total</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @surveys.each do |survey|%>
                                    <tr>
                                        <td><%= survey.id %>.</td>
                                        <td>
                                        <% if survey.status == "active" %>
                                        <% @survey_end_time = SurveySetting.find_by_survey_id(survey.id).end_time.present? ?  SurveySetting.find_by_survey_id(survey.id).end_time : DateTime.now - 1%>
                                            <% if @survey_end_time >= DateTime.now %>
                                                <i class="fa fa fa-step-forward text-warning"></i>
                                            <% else %>
                                                <i class="fa  fa-play text-success"></i>
                                            <% end %>
                                        <% else %>
                                            <i class="fa fa-stop text-warning"></i>
                                        <% end %>
                                        
                                        </td>
                                        <td><%= survey.title%></td>
                                        <td></td>
                                        <td>Default</td>
                                        <td><%= survey.created_at.strftime('%d/%m/%Y')%></td>
                                        <td><%= survey.user.email%></td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td>0</td>
                                        <td> 
                                        <p class="buttons">
                                            <%= link_to '<span class="icon is-small"><i class="fa fa-cog"></i></span>'.html_safe, users_manage_survey_path(survey.id), data: {turbolinks: false}, class: 'button is-small is-primary action'%>
                                            <%= link_to '<span class="icon is-small"><i class="fa fa-times"></i></span>'.html_safe, users_manage_survey_path(survey.id), :method => :delete, class: 'button is-small is-danger action'%>
                                        </p>
                                        </td>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
