<main class="column">
    <div class="level">
        <div class="level-left">
        <div class="level-item">
            <div class="title">Survey # <%= @survey.id%></div>
        </div>
        </div>
        <div class="level-right">
        <div class="level-item">
            <button type="button" class="button is-small">
            March 8, 2017
            </button>
        </div>
        </div>
    </div>
    <%= form_for(@survey, url: users_manage_survey_path(@survey.id), method: :put) do |f|%>
        <section class="columns">
            <div class="column is-12">
                <%= link_to 'Back', users_manage_surveys_path, class: 'button is-black'%>
                <%= f.submit 'Update', class: 'button is-primary'%>
                <a class="button is-primary open-modal" data-target="modal-ter"><i class='fa fa-plus'> </i> Add Group</a>
                <% if @survey.show_intro_screen ==  true %>
                    <%= link_to "<i class='fa fa-eye'></i>  Preview".html_safe, preview_users_manage_surveys_path(@survey.id, intro: true), class: 'button is-primary'%>
                <% else %>
                    <%= link_to 'Preview', preview_users_manage_surveys_path(@survey.id), class: 'button is-primary'%>
                <% end %>
            </div>
        </section>
        <%= render '/users/manage/surveys/shared/form', f: f%>
    <% end %>
    <div id="groups-list" class="list-group" data-url="<%= group_sorting_users_manage_question_groups_path %>">
    <% @survey.question_groups.each do |group|%>
        <section class="columns list-group-item" id='<%= dom_id(group)%>'>
            <%= render '/users/manage/surveys/shared/groups', group: group%>
        </section>
    <% end %>
    </div>
</main>
<%= render '/users/manage/surveys/shared/modals/create_group'%>
<script>
    <%= render '/users/manage/surveys/shared/page.js'%>
</script>