<% if @question.q_type == 'Radio Button' %>
    <%= content_tag :div, class: "test", style: "column-count: #{@question.column};-moz-column-count: #{@question.column};-webkit-column-count: #{@question.column};" do -%>

        <% if @question.randomize == true %>
            <% @question.question_answers.shuffle.each do |answer|%>
                <div style="border: 1px solid grey;margin-bottom: 10px;padding:10px;-webkit-column-break-inside: avoid;page-break-inside: avoid;break-inside: avoid;">
                    <div class="columns">
                        <div class="column is-4">
                            <%= radio_button_tag 'question[answer]', answer.value, :value => answer.value %>
                            <% if @question.desc_question_code == "1"%>
                            <%= "#{answer.code}." %>
                            <% end %>
                            <%= label_tag "question_answer_#{answer.value}", answer.exact_value, class: 'radio' %>
                        </div>
                        <% if @question.enable_other_1 == true%>
                        <div class="column is-3">
                            <% if answer.display_input_box_1 == true%>
                            <%= answer.input_box_1_label%><br />
                            <% if answer.input_box_1_type == 'Text'%>
                            <%= text_field_tag 'question[input_box_1]', nil, class: ''%>
                            <% elsif answer.input_box_1_type == 'Textarea' %>
                            <%= text_area_tag  'question[input_box_1]', nil, class: '', rows: '5', cols:'50'%>
                            <% elsif answer.input_box_1_type == 'Number'%>
                            <%= number_field_tag  'question[input_box_1]', nil, class: ''%>
                            <% elsif  answer.input_box_1_type == 'Percentage' %>
                            <%= number_field_tag  'question[input_box_1]', nil, class: ''%>%
                            <% end %>
                            <% end %>
                        </div>
                        <% end %>
                        <% if @question.enable_other_2 == true %>
                        <div class="column is-3">
                            <% if answer.display_input_box_2 == true%>
                            <%= answer.input_box_2_label%><br />
                            <% if answer.input_box_2_type == 'Text'%>
                            <%= text_field_tag 'question[input_box_2]', nil, class: ''%>
                            <% elsif answer.input_box_2_type == 'Textarea' %>
                            <%= text_area_tag  'question[input_box_2]', nil, class: '', rows: '5', cols:'5'%>
                            <% elsif answer.input_box_2_type == 'Number'%>
                            <%= number_field_tag  'question[input_box_2]', nil, class: ''%>
                            <% elsif  answer.input_box_2_type == 'Percentage' %>
                            <%= number_field_tag  'question[input_box_2]', nil, class: ''%>%
                            <% end %>
                            <% end %>
                        </div>
                        <% end %>
                    </div>
                </div>
            <% end %>
        <% else %>
            <% @question.question_answers.order(position: :asc).each do |answer|%>
                <div style="border: 1px solid grey;margin-bottom: 10px;padding:10px;-webkit-column-break-inside: avoid;page-break-inside: avoid;break-inside: avoid;">
                    <div class="columns">
                        <div class="column is-4">
                            <%= radio_button_tag 'question[answer]', answer.value, SurveyAnswer.check_mc(@question.survey_position,@survey.id, cookies[:survey_session], answer.value), :value => answer.value %>
                            <% if @question.desc_question_code == "1"%>
                            <%= "#{answer.code}." %>
                            <% end %>
                            <%= label_tag "question_answer_#{answer.value}", answer.exact_value, class: 'radio' %>
                        </div>
                        <% if @question.enable_other_1 == true%>
                        <div class="column is-3">
                            <% if answer.display_input_box_1 == true%>
                            <%= answer.input_box_1_label%><br />
                            <% if answer.input_box_1_type == 'Text'%>
                            <%= text_field_tag 'question[input_box_1]', nil, class: ''%>
                            <% elsif answer.input_box_1_type == 'Textarea' %>
                            <%= text_area_tag  'question[input_box_1]', nil, class: '', rows: '5', cols:'50'%>
                            <% elsif answer.input_box_1_type == 'Number'%>
                            <%= number_field_tag  'question[input_box_1]', nil, class: ''%>
                            <% elsif  answer.input_box_1_type == 'Percentage' %>
                            <%= number_field_tag  'question[input_box_1]', nil, class: ''%>%
                            <% end %>
                            <% end %>
                        </div>
                        <% end %>
                        <% if @question.enable_other_2 == true %>
                        <div class="column is-3">
                            <% if answer.display_input_box_2 == true%>
                            <%= answer.input_box_2_label%><br />
                            <% if answer.input_box_2_type == 'Text'%>
                            <%= text_field_tag 'question[input_box_2]', nil, class: ''%>
                            <% elsif answer.input_box_2_type == 'Textarea' %>
                            <%= text_area_tag  'question[input_box_2]', nil, class: '', rows: '5', cols:'5'%>
                            <% elsif answer.input_box_2_type == 'Number'%>
                            <%= number_field_tag  'question[input_box_2]', nil, class: ''%>
                            <% elsif  answer.input_box_2_type == 'Percentage' %>
                            <%= number_field_tag  'question[input_box_2]', nil, class: ''%>%
                            <% end %>
                            <% end %>
                        </div>
                        <% end %>
                    </div>
                </div>
            <% end %>
        <% end %>
    <% end %>
<% elsif @question.q_type == 'Select Dropdown'%>
    <%= content_tag :div, class: "test", style: "column-count: #{@question.column};-moz-column-count: #{@question.column};-webkit-column-count: #{@question.column};" do -%>
    <div class="select">
        <% if @question.desc_question_code == "1"%>
        <%= "#{answer.code}." %>
        <% end %>
        <% options = options_from_collection_for_select(@question.question_answers, 'value', 'exact_value') %>
        <%= select_tag 'question[answer]',  options, :include_blank => 'Please select an answer' %>
    </div>
    <% end %>
<% elsif @question.q_type == 'Radio Button With Comment' %>
    <%= content_tag :div, class: "test", style: "column-count: #{@question.column};-moz-column-count: #{@question.column};-webkit-column-count: #{@question.column};" do -%>
        <% if @question.randomize == true %>
            <% @question.question_answers.shuffle.each do |answer|%>
                <div style="border: 1px solid grey;margin-bottom: 10px;padding:10px;-webkit-column-break-inside: avoid;page-break-inside: avoid;break-inside: avoid;">
                    <%= radio_button_tag 'question[answer]', answer.value, :value => answer.value %>
                    <% if @question.desc_question_code == "1"%>
                    <%= "#{answer.code}." %>
                    <% end %>
                    <%= label_tag 'question[answer]', answer.exact_value, class: 'radio' %>
                    <%= text_field 'question[comment]', class: 'input' %>
                </div>
            <% end %>
        <% else %>
            <% @question.question_answers.order(position: :asc).each do |answer|%>
            <div style="border: 1px solid grey;margin-bottom: 10px;padding:10px;-webkit-column-break-inside: avoid;page-break-inside: avoid;break-inside: avoid;">
                <%= radio_button_tag 'question[answer]', answer.value, :value => answer.value %>
                <% if @question.desc_question_code == "1"%>
                <%= "#{answer.code}." %>
                <% end %>
                <%= label_tag 'question[answer]', answer.exact_value, class: 'radio' %>
                <%= text_field 'question[comment]', class: 'input' %>
            </div>
            <% end %>
        <% end %>
        
    <% end %>
<% elsif @question.q_type == 'Radio Button Level'%>
    <%= content_tag :div, class: "test", style: "column-count: #{@question.column};-moz-column-count: #{@question.column};-webkit-column-count: #{@question.column};" do -%>
        <% if @question.randomize == true %>
            <% @question.question_answers.shuffle.each do |answer|%>
            <div style="border: 1px solid grey;margin-bottom: 10px;padding:10px;-webkit-column-break-inside: avoid;page-break-inside: avoid;break-inside: avoid;">
                    <%= radio_button_tag 'question[answer]', answer.value %>
                    <% if @question.desc_question_code == "1"%>
                    <%= "#{answer.code}." %>
                    <% end %>
                    <%= label_tag 'question[answer]', answer.exact_value, :value => answer.value, class: 'radio' %>
                </div>
            <% end %>
        <% else %>
            <% @question.question_answers.order(position: :asc).each do |answer|%>
                <div style="border: 1px solid grey;margin-bottom: 10px;padding:10px;-webkit-column-break-inside: avoid;page-break-inside: avoid;break-inside: avoid;">
                    <%= radio_button_tag 'question[answer]', answer.value %>
                    <% if @question.desc_question_code == "1"%>
                    <%= "#{answer.code}." %>
                    <% end %>
                    <%= label_tag 'question[answer]', answer.exact_value, :value => answer.value, class: 'radio' %>
                </div>
            <% end %>
        <% end %>
            
    <% end %>
<% elsif @question.q_type == 'Checkbox'%>


    <%= content_tag :div, class: "test", style: "column-count: #{@question.column};-moz-column-count: #{@question.column};-webkit-column-count: #{@question.column};-webkit-column-span: all;column-span: all;" do -%>
         <% if @question.randomize == true %>
            <% @question.question_answers.shuffle.each do |answer|%>
                <div style="border: 1px solid grey;margin-bottom: 10px;padding:10px;-webkit-column-break-inside: avoid;page-break-inside: avoid;break-inside: avoid;">
                    <div class="checkbox" style="-webkit-column-break-inside: avoid;page-break-inside: avoid;break-inside: avoid;">
                        <%= check_box_tag 'question[answer][]', answer.value, SurveyAnswer.check_mc(@question.survey_position,@survey.id, cookies[:survey_session], answer.value), id: "question_answer_#{answer.value}", class: 'bw-checkbox' %>
                        <% if @question.desc_question_code == "1"%>
                        <%= "#{answer.code}." %>
                        <% end %>
                        <%= label_tag "question_answer_#{answer.value}", answer.exact_value%>
                    </div>
                </div>
            <% end %>
        <% else %>
            <% @question.question_answers.order(position: :asc).each do |answer|%>
                <div style="border: 1px solid grey;margin-bottom: 10px;padding:10px;-webkit-column-break-inside: avoid;page-break-inside: avoid;break-inside: avoid;">
                    <div class="checkbox">
                        <%= check_box_tag 'question[answer][]', answer.value, SurveyAnswer.check_mc(@question.survey_position,@survey.id, cookies[:survey_session], answer.value), id: "question_answer_#{answer.value}", class: 'bw-checkbox' %>
                        <% if @question.desc_question_code == "1"%>
                        <%= "#{answer.code}." %>
                        <% end %>
                        <%= label_tag "question_answer_#{answer.value}", answer.exact_value%>
                    </div>
                </div>
            <% end %>
        <% end %>
            
    <% end %>
<% elsif @question.q_type == 'Checkbox With Comment'%>
    <%= content_tag :div, class: "test", style: "column-count: #{@question.column};-moz-column-count: #{@question.column};-webkit-column-count: #{@question.column};" do -%>
        <% if @question.randomize == true %>
            <% @question.question_answers.shuffle.each do |answer|%>
                <div style="border: 1px solid grey;margin-bottom: 10px;padding:10px;-webkit-column-break-inside: avoid;page-break-inside: avoid;break-inside: avoid;">
                    <div class="checkbox">
                        <%= check_box_tag 'question[answer][]', answer.value, SurveyAnswer.check_mc(@question.survey_position,@survey.id, cookies[:survey_session], answer.value), id: "question_answer_#{answer.value}", class: 'bw-checkbox' %>
                        <% if @question.desc_question_code == "1"%>
                        <%= "#{answer.code}." %>
                        <% end %>
                        <%= label_tag "question_answer_#{answer.value}", answer.exact_value%>
                    </div>
                    <%= text_area_tag 'question[comment]', cols: "30", rows: "2", class: 'textarea' %>
                </div>
            <% end %>
        <% else %>
            <% @question.question_answers.order(position: :asc).each do |answer|%>
                <div style="border: 1px solid grey;margin-bottom: 10px;padding:10px;-webkit-column-break-inside: avoid;page-break-inside: avoid;break-inside: avoid;">
                    <div class="checkbox">
                        <%= check_box_tag 'question[answer][]', answer.value, SurveyAnswer.check_mc(@question.survey_position,@survey.id, cookies[:survey_session], answer.value), id: "question_answer_#{answer.value}", class: 'bw-checkbox' %>
                        <% if @question.desc_question_code == "1"%>
                        <%= "#{answer.code}." %>
                        <% end %>
                        <%= label_tag "question_answer_#{answer.value}", answer.exact_value%>
                    </div>
                    <%= text_area_tag 'question[comment]', cols: "30", rows: "2", class: 'textarea' %>
                </div>
            <% end %>
        <% end %>

    <% end %>
<% elsif @question.q_type == 'Checkbox With Limit'%>
    <%= f.hidden_field :limit , value: @question.limit , id:"limit_answers" %>
        <%= content_tag :div, class: "test", style: "column-count: #{@question.column};-moz-column-count: #{@question.column};-webkit-column-count: #{@question.column};" do -%>
            <% if @question.randomize == true %>
                <% @question.question_answers.shuffle.each do |answer|%>
                    <div style="border: 1px solid grey;margin-bottom: 10px;padding:10px;-webkit-column-break-inside: avoid;page-break-inside: avoid;break-inside: avoid;">
                        <div class="checkbox">
                            <%= check_box_tag 'question[answer][]', answer.value, SurveyAnswer.check_mc(@question.survey_position,@survey.id, cookies[:survey_session], answer.value), id: "question_answer_#{answer.value}", class: 'bw-checkbox limitcheck' %>
                            
                            <%= label_tag "question_answer_#{answer.value}", answer.exact_value%>
                        </div>
                    </div>
                <% end %>
            <% else %>
                <% @question.question_answers.order(position: :asc).each do |answer|%>
                    <div style="border: 1px solid grey;margin-bottom: 10px;padding:10px;-webkit-column-break-inside: avoid;page-break-inside: avoid;break-inside: avoid;">
                        <div class="checkbox">
                            <%= check_box_tag 'question[answer][]', answer.value, SurveyAnswer.check_mc(@question.survey_position,@survey.id, cookies[:survey_session], answer.value), id: "question_answer_#{answer.value}", class: 'bw-checkbox limitcheck' %>
                            <% if @question.desc_question_code == "1"%>
                            <%= "#{answer.code}." %>
                            <% end %>
                            <%= label_tag "question_answer_#{answer.value}", answer.exact_value%>
                        </div>
                    </div>
                <% end %>
            <% end %>
        <% end %>
<% elsif @question.q_type == 'Checkbox Input Text'%>
    <%= content_tag :div, class: "test", style: "column-count: #{@question.column};-moz-column-count: #{@question.column};-webkit-column-count: #{@question.column};" do -%>
        <% if @question.randomize == true %>
            <% @question.question_answers.shuffle.each do |answer|%>
                <div style="border: 1px solid grey;margin-bottom: 10px;padding:10px;-webkit-column-break-inside: avoid;page-break-inside: avoid;break-inside: avoid;">
                    <div class="checkbox">
                        <%= check_box_tag 'question[answer][]', answer.value, SurveyAnswer.check_mc(@question.survey_position,@survey.id, cookies[:survey_session], answer.value), id: "question_answer_#{answer.value}", class: 'bw-checkbox' %>
                        <% if @question.desc_question_code == "1"%>
                        <%= "#{answer.code}." %>
                        <% end %>
                         <%= label_tag "question_answer_#{answer.value}", answer.exact_value%>
                    </div>
                    <%= text_field 'question[answer]', class: 'input' %>
                </div>
            <% end %>
        <% else %>
            <% @question.question_answers.order(position: :asc).each do |answer|%>
                <div style="border: 1px solid grey;margin-bottom: 10px;padding:10px;-webkit-column-break-inside: avoid;page-break-inside: avoid;break-inside: avoid;">
                    <div class="checkbox">
                        <%= check_box_tag 'question[answer][]', answer.value, SurveyAnswer.check_mc(@question.survey_position,@survey.id, cookies[:survey_session], answer.value), id: "question_answer_#{answer.value}", class: 'bw-checkbox' %>
                        <% if @question.desc_question_code == "1"%>
                        <%= "#{answer.code}." %>
                        <% end %>
                         <%= label_tag "question_answer_#{answer.value}", answer.exact_value%>
                    </div>
                    <%= text_field 'question[answer]', class: 'input' %>
                </div>
            <% end %>
        <% end %>
            
    <% end %>
<% elsif @question.q_type == 'Textarea' %>

<%= text_area_tag 'question[answer]', nil, cols: "30", rows: "5", class: 'textarea' %>
<% elsif @question.q_type == 'Textbox' %>
<% if @question.logic.present? %>
<%= text_field_tag 'question[answer]',nil, class: 'input', pattern:@question.logic , required: true %>
<% else %>
<%= text_field_tag 'question[answer]',nil, class: 'input'%>
<% end %>
<% elsif @question.q_type == 'Multiple Textbox' %>
<% if @question.logic.present? %>
<% @question.question_answers.order(position: :asc).each do |answer|%>
<div style="border: 1px solid grey;margin-bottom: 10px;padding:10px;-webkit-column-break-inside: avoid;page-break-inside: avoid;break-inside: avoid;">
    <%= answer.exact_value %>
    <%= text_field_tag 'question[answer]',nil, class: 'input', pattern:@question.logic , required: true %>
</div>
<% end %>
<% else %>
<% @question.question_answers.order(position: :asc).each do |answer|%>
<div style="border: 1px solid grey;margin-bottom: 10px;padding:10px;-webkit-column-break-inside: avoid;page-break-inside: avoid;break-inside: avoid;">
    <%= answer.exact_value %>
    <%= text_field_tag 'question[answer]',nil%>
</div>
<% end %>

<% end %>
<% elsif @question.q_type == 'Ranking'%>
<% @question.question_answers.each do |answer|%>
<div style="border: 1px solid grey;margin-bottom: 10px;padding:10px;-webkit-column-break-inside: avoid;page-break-inside: avoid;break-inside: avoid;">
    <%= number_field_tag 'question[answer]' , min: 1 , max: @question.question_answers.size %>
    <% if @question.desc_question_code == "1"%>
    <%= "#{answer.code}." %>
    <% end %>
    <%= answer.exact_value %>
</div>
<% end %>
<% elsif @question.q_type == 'Numerical'%>
<%= number_field 'question[answer]' , maxlength: 20 ,class:"input" %>
<% elsif @question.q_type == 'Array' %>

<% if @question.structure == "Subquestion Horizontal" %>
<div style="margin-top:10px;padding:10px;overflow-x: scroll;">
    <table class="table table-responsive" id="arrays">
        <tr style="min-width: 200px;">
            <th style="min-width: 200px;"></th>
            <% @question.subquestions.order(position: :asc).each_with_index do |subquestion|%>
            <th style="min-width: 200px;"><%= subquestion.code %>. <%=subquestion.exact_value%></th>
            <% end %>
        </tr>
        <% @question.question_answers.order(position: :asc).each do |answer|%>
        <tr style="min-width: 200px;">
            <td style="min-width: 200px;">
                <% if @question.desc_question_code == "1"%>
                <%= "#{answer.code}." %>
                <% end %>
                <%= answer.exact_value %>
            </td>
            <% @question.subquestions.order(position: :asc).each_with_index do |subquestion, index|%>
            <td style="min-width: 200px;">
            <%= radio_button_tag "questionaire[#{index}][answer]", subquestion.value, :value => subquestion.value  %>
            </td>
            
            <% end %>
        </tr>
        <% end %>
    </table>
</div>
<% else %>
<div style="margin-top:10px;padding:10px;">
    <table class="table table-responsive" id="arrays">
        <tr>
            <th></th>
            <% @question.question_answers.order(position: :asc).each do |answer|%>
            <th><% if @question.desc_question_code == "1"%>
                <%= "#{answer.code}." %>
                <% end %>
                <%= answer.exact_value %></th>
            <% end %>
        </tr>
        <% @question.subquestions.order(position: :asc).each_with_index do |subquestion, index|%>
        <tr>
            <td><%= subquestion.code %>. <%=subquestion.exact_value%></td>
            <% @question.question_answers.order(position: :asc).order(position: :asc).each do |answer|%>
            <td><%= radio_button_tag "questionaire[#{index}][answer]", answer.value %>
            </td>
            <% end %>
        </tr>
        <% end %>
    </table>
</div>
<% end %>

<% elsif @question.q_type == 'Array Numerical' %>

<% if @question.structure == "Subquestion Horizontal" %>
<div style="margin-top:10px;padding:10px;overflow-x: scroll;">
    <table class="table table-responsive" id="arrays">
        <tr style="min-width: 200px;">
            <th style="min-width: 200px;"></th>
            <% @question.subquestions.order(position: :asc).each_with_index do |subquestion|%>
            <th style="min-width: 200px;"><%= subquestion.code %>. <%=subquestion.exact_value%></th>
            <% end %>
        </tr>
        <% @question.question_answers.order(position: :asc).each do |answer|%>
        <tr style="min-width: 200px;">
            <td style="min-width: 200px;"><% if @question.desc_question_code == "1"%>
                <%= "#{answer.code}." %>
                <% end %>
                <%= answer.exact_value %></td>
            <% @question.subquestions.order(position: :asc).each_with_index do |subquestion, index|%>
            <td style="min-width: 200px;"><%= number_field_tag "questionaire[#{index}][answer]",class: "input"%></td>
            <% end %>
        </tr>
        <% end %>
    </table>
</div>
<% else %>
<div style="margin-top:10px;padding:10px;">
    <table class="table table-responsive" id="arrays">
        <tr>
            <th></th>
            <% @question.question_answers.order(position: :asc).each do |answer|%>
            <th><% if @question.desc_question_code == "1"%>
                <%= "#{answer.code}." %>
                <% end %>
                <%= answer.exact_value %></th>
            <% end %>
        </tr>
        <% @question.subquestions.order(position: :asc).each_with_index do |subquestion, index|%>
        <tr>
            <td><%= subquestion.code %>. <%=subquestion.exact_value%></td>
            <% @question.question_answers.order(position: :asc).each do |answer|%>
            <td><%= number_field_tag "questionaire[#{index}][answer]",class: "input"%></td>
            <% end %>
        </tr>
        <% end %>
    </table>
</div>
<% end %>
<% elsif @question.q_type == 'Array Multiple Answer' %>

<% if @question.structure == "Subquestion Horizontal" %>
<div style="margin-top:10px;padding:10px;overflow-x: scroll;">
    <table class="table table-responsive" id="arrays">
        <tr style="min-width: 200px;">
            <th style="min-width: 200px;"></th>
            <% @question.subquestions.order(position: :asc).each_with_index do |subquestion|%>
            <th style="min-width: 200px;"><%= subquestion.code %>. <%=subquestion.exact_value%></th>
            <% end %>
        </tr>
        <% @question.question_answers.order(position: :asc).each do |answer|%>
        <tr style="min-width: 200px;">
            <td style="min-width: 200px;"><% if @question.desc_question_code == "1"%>
                <%= "#{answer.code}." %>
                <% end %>
                <%= answer.exact_value %></td>
            <% @question.subquestions.order(position: :asc).each_with_index do |subquestion, index|%>
            <td style="min-width: 200px;"><%= check_box_tag 'question[answer]' %></td>
            <% end %>
        </tr>
        <% end %>
    </table>
</div>
<% else %>
<div style="margin-top:10px;padding:10px;">
    <table class="table table-responsive" id="arrays">
        <tr>
            <th></th>
            <% @question.question_answers.order(position: :asc).each do |answer|%>
            <th><% if @question.desc_question_code == "1"%>
                <%= "#{answer.code}." %>
                <% end %>
                <%= answer.exact_value %></th>
            <% end %>
        </tr>
        <% @question.subquestions.order(position: :asc).each_with_index do |subquestion, index|%>
        <tr>
            <td><%= subquestion.code %>. <%=subquestion.exact_value%></td>
            <% @question.question_answers.order(position: :asc).each do |answer|%>
            <td><%= check_box_tag 'question[answer]' %>
            </td>
            <% end %>
        </tr>
        <% end %>
    </table>
</div>
<% end %>

<% elsif @question.q_type == 'Array Dropdown' %>

<% if @question.structure == "Subquestion Horizontal" %>
<div style="margin-top:10px;padding:10px;overflow-x: scroll;">
    <table class="table table-responsive" id="arrays">
        <tr style="min-width: 200px;">
            <th style="min-width: 200px;"></th>
            <% @question.subquestions.order(position: :asc).each_with_index do |subquestion|%>
            <th style="min-width: 200px;"><%= subquestion.code %>. <%=subquestion.exact_value%></th>
            <% end %>
        </tr>
        <% @question.question_answers.order(position: :asc).each do |answer|%>
        <tr style="min-width: 200px;">
            <td style="min-width: 200px;"><% if @question.desc_question_code == "1"%>
                <%= "#{answer.code}." %>
                <% end %>
                <%= answer.exact_value %></td>
            <% @question.subquestions.order(position: :asc).each_with_index do |subquestion, index|%>
            <td style="min-width: 200px;"><%= select_tag 'question[answer]',  options, :include_blank => 'Please select an answer' %></td>
            <% end %>
        </tr>
        <% end %>
    </table>
</div>
<% else %>
<div style="margin-top:10px;padding:10px;">
    <table class="table table-responsive" id="arrays">
        <tr>
            <th></th>
            <% @question.question_answers.order(position: :asc).each do |answer|%>
            <th><% if @question.desc_question_code == "1"%>
                <%= "#{answer.code}." %>
                <% end %>
                <%= answer.exact_value %></th>
            <% end %>
        </tr>
        <% @question.subquestions.order(position: :asc).each_with_index do |subquestion, index|%>
        <tr>
            <td><%= subquestion.code %>. <%=subquestion.exact_value%></td>
            <% @question.question_answers.order(position: :asc).each do |answer|%>
            <td><%= select_tag 'question[answer]',  options, :include_blank => 'Please select an answer' %>
            </td>
            <% end %>
        </tr>
        <% end %>
    </table>
</div>
<% end %>

<% end %>