<div class="column is-12">
    <div class="card">
        <div class="card-header card-toggle">
            <p class="card-header-title">Display</p>
            <a class="card-header-icon">
                <i class="fa fa-angle-down"></i>
            </a>
        </div>
        <div class="card-content toggle-content">
            <div class="content">
                <% if @question.q_type == "Array" %>
                <label class="label">Structure : 
                    <div class="control">
                    <div class="select"><%= f.select :structure, [['Subquestion Horizontal', 'Subquestion Horizontal'], ['Subquestion Vertical', 'Subquestion Vertical']] %></div>
                    </div>
                    </label>
                <label class="label">Random Order :</label>
                <%= f.check_box :randomize, id: 'randomize', disabled: params[:edit].present? ? false : true%>
                <label class="toggle" for="randomize"></label>
                <% elsif @question.q_type == "Array Numerical"  %>
                <label class="label">Structure : 
                    <div class="control">
                    <div class="select"><%= f.select :structure, [['Subquestion Horizontal', 'Subquestion Horizontal'], ['Subquestion Vertical', 'Subquestion Vertical']] %></div>
                    </div>
                    </label>
                <label class="label">Random Order :</label>
                <%= f.check_box :randomize, id: 'randomize', disabled: params[:edit].present? ? false : true%>
                <label class="toggle" for="randomize"></label>
                <% elsif @question.q_type == "Array Multiple Answer"  %>
                <label class="label">Structure : 
                    <div class="control">
                    <div class="select"><%= f.select :structure, [['Subquestion Horizontal', 'Subquestion Horizontal'], ['Subquestion Vertical', 'Subquestion Vertical']] %></div>
                    </div>
                    </label>
                <label class="label">Random Order :</label>
                <%= f.check_box :randomize, id: 'randomize', disabled: params[:edit].present? ? false : true%>
                <label class="toggle" for="randomize"></label>
                <% elsif @question.q_type == "Array Dropdown"  %>
                <label class="label">Structure : 
                    <div class="control">
                    <div class="select"><%= f.select :structure, [['Subquestion Horizontal', 'Subquestion Horizontal'], ['Subquestion Vertical', 'Subquestion Vertical']] %></div>
                    </div>
                    </label>
                <label class="label">Random Order :</label>
                <%= f.check_box :randomize, id: 'randomize', disabled: params[:edit].present? ? false : true%>
                <label class="toggle" for="randomize"></label>
                <% elsif @question.q_type == "Radio Button"  %>
                <label class="label">Display Columns : 
                    <div class="control">
                       <%= f.number_field :column, class: "input" %>
                    </div>
                </label>
                <label class="label">Random Order :</label>
                <%= f.check_box :randomize, id: 'randomize', disabled: params[:edit].present? ? false : true%>
                <label class="toggle" for="randomize"></label>
                <% elsif @question.q_type == "Radio Button With Comment"  %>
                <label class="label">Display Columns : 
                    <div class="control">
                       <%= f.number_field :column, class: "input" %>
                    </div>
                </label>
                <label class="label">Random Order :</label>
                <%= f.check_box :randomize, id: 'randomize', disabled: params[:edit].present? ? false : true%>
                <label class="toggle" for="randomize"></label>
                <% elsif @question.q_type == "Radio Button Level"  %>
                <label class="label">Display Columns : 
                    <div class="control">
                       <%= f.number_field :column, class: "input" %>
                    </div>
                </label>
                <label class="label">Random Order :</label>
                <%= f.check_box :randomize, id: 'randomize', disabled: params[:edit].present? ? false : true%>
                <label class="toggle" for="randomize"></label>
                <% elsif @question.q_type == "Radio Button"  %>
                <label class="label">Display Columns : 
                    <div class="control">
                       <%= f.number_field :column, class: "input" %>
                    </div>
                </label>
                <label class="label">Random Order :</label>
                <%= f.check_box :randomize, id: 'randomize', disabled: params[:edit].present? ? false : true%>
                <label class="toggle" for="randomize"></label>
                <% elsif @question.q_type == "Radio Button"  %>
                <label class="label">Display Columns : 
                    <div class="control">
                       <%= f.number_field :column, class: "input" %>
                    </div>
                </label>
                <label class="label">Random Order :</label>
                <%= f.check_box :randomize, id: 'randomize', disabled: params[:edit].present? ? false : true%>
                <label class="toggle" for="randomize"></label>
                <% elsif @question.q_type == "Checkbox"  %>
                <label class="label">Display Columns : 
                    <div class="control">
                       <%= f.number_field :column, class: "input" %>
                    </div>
                </label>
                <label class="label">Random Order :</label>
                <%= f.check_box :randomize, id: 'randomize', disabled: params[:edit].present? ? false : true%>
                <label class="toggle" for="randomize"></label>
                <% elsif @question.q_type == "Checkbox With Comment"  %>
                <label class="label">Display Columns : 
                    <div class="control">
                       <%= f.number_field :column, class: "input" %>
                    </div>
                </label>
                <label class="label">Random Order :</label>
                <%= f.check_box :randomize, id: 'randomize', disabled: params[:edit].present? ? false : true%>
                <label class="toggle" for="randomize"></label>
                <% elsif @question.q_type == "Checkbox With Limit"  %>
                <label class="label">Display Columns : 
                    <div class="control">
                       <%= f.number_field :column, class: "input" %>
                    </div>
                </label>
                <label class="label">Random Order :</label>
                <%= f.check_box :randomize, id: 'randomize', disabled: params[:edit].present? ? false : true%>
                <label class="toggle" for="randomize"></label>
                <% elsif @question.q_type == "Checkbox With Text"  %>
                <label class="label">Display Columns : 
                    <div class="control">
                       <%= f.number_field :column, class: "input" %>
                    </div>
                </label>
                <label class="label">Random Order :</label>
                <%= f.check_box :randomize, id: 'randomize', disabled: params[:edit].present? ? false : true%>
                <label class="toggle" for="randomize"></label>
                <% end %>
                
            </div>
        </div>
    </div>
</div>