<div class="column is-12"> 
    <div class="card">
        <div class="card-header card-toggle">
            <p class="card-header-title">General Option</p>
            <a class="card-header-icon">
                <i class="fa fa-angle-down"></i>
            </a>
        </div>
        <div class="card-content toggle-content" style="display: block;">
            <div class="content">
              <label class="label">Question Type : 
        <div class="control">
          <div class="select">
          <%= f.select :q_type, options_for_select([['Radio Button', 'Radio Button'], ['Select Dropdown', 'Select Dropdown'], ['Radio Button With Comment', 'Radio Button With Comment'], 
                          ['Radio Button Level', 'Radio Button Level'], ['Checkbox', 'Checkbox'], 
                          ['Checkbox With Comment', 'Checkbox With Comment'],
                          ['Checkbox With Limit', 'Checkbox With Limit'],
                          ['Checkbox With Text', 'Checkbox With Text'], 
                          ['Textarea', 'Textarea'],['Textbox', 'Textbox'],['Multiple Textbox', 'Multiple Textbox'],['Ranking', 'Ranking'], 
                          ['Numeric', 'Numeric'], ['Array', 'Array'], 
                          ['Array Numerical', 'Array Numerical'], ['Array Multiple answer', 'Array Multiple answer'], 
                          ['Array Dropdown', 'Array Dropdown'],['File Upload', 'File Upload'],['File Download', 'File Download'],['Video', 'Video'],['Audio', 'Audio']], selected: @question.q_type) %></div>
        </div>
        </label>
              <label class="label">This question is mandatory?</label>
                <%= f.check_box :mandatory, id: 'switch', disabled: params[:edit].present? ? false : true%>
              <label class="toggle" for="switch"></label>
              <% if @question.q_type.include?('Radio')%>
              <label class="label">Enable Input Box 1?</label>
                  <%= f.check_box :enable_other_1, id: 'input-box-1', disabled: params[:edit].present? ? false : true%>
              <label class="toggle" for="input-box-1"></label>
              <label class="label">Enable Input Box 2?</label>
                  <%= f.check_box :enable_other_2, id: 'input-box-2', disabled: params[:edit].present? ? false : true%>
              <label class="toggle" for="input-box-2"></label>
              <% end %>
              <% if @question.q_type == "Textbox" %>
              <label class="label">Validation :
                <div class="control">
                  <div class="select"><%= f.select :logic, [["Phone Number (012-3456789)", '^0{1}\d{1}-\d{7}$|^0{1}\d{1}-\d{8}$|^0{1}\d{2}-\d{7}$|^0{1}\d{2}-\d{8}$'], ["Postcode (12345)", '^\d{5}$'], ["URL (https://url.com/)", 'https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)'], ["Decimal Numbers (1.23)", '^[0-9]+\.?[0-9]*$'], ["Date (12/34/5678)", '^\d{2}\/\d{2}\/\d{4}$'], ["Date (12-34-5678)", '^\d{2}\-\d{2}\-\d{4}$'], ["IP address (0.0.0.0)", '\b([0-9]{1,3})\.([0-9]{1,3})\.([0-9]{1,3})\.([0-9]{1,3})\b']] %></div>
                </div>
                </label>

              <% end %>
            </div>
        </div>
    </div>
</div>

<script>
</script>