<div class="column is-12"> 
    <div class="card">
        <div class="card-header card-toggle">
            <p class="card-header-title">General Option</p>
            <a class="card-header-icon">
                <i class="fa fa-angle-down"></i>
            </a>
        </div>
        <div class="card-content toggle-content">
            <div class="content">
              <label class="label">Question Type : 
        <div class="control">
          <div class="select">
          <%= f.select :structure, options_for_select([['Radio Button', 'Radio Button'], ['Select Dropdown', 'Select Dropdown'], ['Radio Button With Comment', 'Radio Button With Comment'], 
                          ['Radio Button Level', 'Radio Button Level'], ['Checkbox', 'Checkbox'], 
                          ['Checkbox With Comment', 'Checkbox With Comment'],
                          ['Checkbox With Limit', 'Checkbox With Limit'],
                          ['Checkbox With Text', 'Checkbox With Text'], 
                          ['Textarea', 'Textarea'],['Ranking', 'Ranking'], 
                          ['Numeric', 'Numeric'], ['Array', 'Array'], 
                          ['Array Numerical', 'Array Numerical'], ['Array Multiple answer', 'Array Multiple answer'], 
                          ['Array Dropdown', 'Array Dropdown']], selected: @question.q_type) %></div>
        </div>
        </label>
        <% if @question.q_type == "Array" %>
        <label class="label">Structure : 
        <div class="control">
          <div class="select"><%= f.select :structure, [['Subquestion Horizontal', 'Subquestion Horizontal'], ['Subquestion Vertical', 'Subquestion Vertical']] %></div>
        </div>
        </label>
        <% elsif @question.q_type == "Array Numerical" %>
        <label class="label">Structure : 
        <div class="control">
          <div class="select"><%= f.select :structure, [['Subquestion Horizontal', 'Subquestion Horizontal'], ['Subquestion Vertical', 'Subquestion Vertical']] %></div>
        </div>
        </label>
        <% elsif @question.q_type == "Array Multiple Answer" %>
        <label class="label">Structure : 
        <div class="control">
          <div class="select"><%= f.select :structure, [['Subquestion Horizontal', 'Subquestion Horizontal'], ['Subquestion Vertical', 'Subquestion Vertical']] %></div>
        </div>
        </label>
        <% elsif @question.q_type == "Array Dropdown" %>
        <label class="label">Structure : 
        <div class="control">
          <div class="select"><%= f.select :structure, [['Subquestion Horizontal', 'Subquestion Horizontal'], ['Subquestion Vertical', 'Subquestion Vertical']] %></div>
        </div>
        </label>
        <% elsif @question.q_type == "Checkbox" %>
        <label class="label">Structure : 
        <div class="control">
          <div class="select"><%= f.select :structure, [['One Column', 'One Column'], ['Two Column', 'Two Column']] %></div>
        </div>
        </label>
        <% elsif @question.q_type == "Checkbox With Comment" %>
        <label class="label">Structure : 
        <div class="control">
          <div class="select"><%= f.select :structure, [['One Column', 'One Column'], ['Two Column', 'Two Column']] %></div>
        </div>
        </label>
        <% elsif @question.q_type == "Checkbox With Limit" %>
        <label class="label">Structure : 
        <div class="control">
          <div class="select"><%= f.select :structure, [['One Column', 'One Column'], ['Two Column', 'Two Column']] %></div>
        </div>
        </label>
        <% elsif @question.q_type == "Checkbox With Text" %>
        <label class="label">Structure : 
        <div class="control">
          <div class="select"><%= f.select :structure, [['One Column', 'One Column'], ['Two Column', 'Two Column']] %></div>
        </div>
        </label>
        <% end %>

              <label class="label">Option "Others"</label>
                <%= f.check_box :mandatory, id: 'switch', disabled: params[:edit].present? ? false : true%>
              <label class="toggle" for="switch"></label>
              <label class="label">This question is mandatory?</label>
                <%= f.check_box :mandatory, id: 'switch', disabled: params[:edit].present? ? false : true%>
              <label class="toggle" for="switch"></label>

              <% if @question.q_type.include?('Radio')%>
              <label class="label">Enable Input Box 1?</label>
                  <%= f.check_box :enable_other_1, id: 'input-box-1', disabled: params[:edit].present? ? false : true%>
              <label class="toggle" for="input-box-1"></label>
              <label class="label">Enable Input Box 2?</label>
                  <%= f.check_box :enable_other_2, id: 'input-box-2', disabled: params[:edit].present? ? false : true%>
              <label class="toggle" for="input-box-2"></label>
              <% end %>
            </div>
        </div>
    </div>
</div>