<div class="column is-12"> 
    <div class="card">
        <div class="card-header card-toggle">
            <p class="card-header-title">General Option</p>
            <a class="card-header-icon">
                <i class="fa fa-angle-down"></i>
            </a>
        </div>
        <div class="card-content toggle-content">
            <div class="content">
              <label class="label">Question Type : 
        <div class="control">
          <div class="select"><%= f.select :structure, [['Radio Button', 'Radio Button'], ['Select Dropdown', 'Select Dropdown'], ['Radio Button With Comment', 'Radio Button With Comment'], ['Radio Button Level', 'Radio Button Level'], ['Checkbox', 'Checkbox'], ['Checkbox With Comment', 'Checkbox With Comment'],['Checkbox With Limit', 'Checkbox With Limit'],['Checkbox With Text', 'Checkbox With Text'], ['Textarea', 'Textarea'],['Ranking', 'Ranking'], ['Numeric', 'Numeric'], ['Array', 'Array'], ['Array Numerical', 'Array Numerical'], ['Array Multiple answer', 'Array Multiple answer'], ['Array Dropdown', 'Array Dropdown']] %></div>
        </div>
        </label>
        <% if @question.q_type == "Array" %>
        <label class="label">Structure : 
        <div class="control">
          <div class="select"><%= f.select :structure, [['Subquestion Horizontal', 'Subquestion Horizontal'], ['Subquestion Vertical', 'Subquestion Vertical']] %></div>
        </div>
        </label>
        <% elsif @question.q_type == "Array Numerical" %>
        <label class="label">Structure : 
        <div class="control">
          <div class="select"><%= f.select :structure, [['Subquestion Horizontal', 'Subquestion Horizontal'], ['Subquestion Vertical', 'Subquestion Vertical']] %></div>
        </div>
        </label>
        <% elsif @question.q_type == "Array Multiple Answer" %>
        <label class="label">Structure : 
        <div class="control">
          <div class="select"><%= f.select :structure, [['Subquestion Horizontal', 'Subquestion Horizontal'], ['Subquestion Vertical', 'Subquestion Vertical']] %></div>
        </div>
        </label>
        <% elsif @question.q_type == "Array Dropdown" %>
        <label class="label">Structure : 
        <div class="control">
          <div class="select"><%= f.select :structure, [['Subquestion Horizontal', 'Subquestion Horizontal'], ['Subquestion Vertical', 'Subquestion Vertical']] %></div>
        </div>
        </label>
        <% elsif @question.q_type == "Checkbox" %>
        <label class="label">Structure : 
        <div class="control">
          <div class="select"><%= f.select :structure, [['One Column', 'One Column'], ['Two Column', 'Two Column']] %></div>
        </div>
        </label>
        <% elsif @question.q_type == "Checkbox With Comment" %>
        <label class="label">Structure : 
        <div class="control">
          <div class="select"><%= f.select :structure, [['One Column', 'One Column'], ['Two Column', 'Two Column']] %></div>
        </div>
        </label>
        <% elsif @question.q_type == "Checkbox With Limit" %>
        <label class="label">Structure : 
        <div class="control">
          <div class="select"><%= f.select :structure, [['One Column', 'One Column'], ['Two Column', 'Two Column']] %></div>
        </div>
        </label>
        <% elsif @question.q_type == "Checkbox With Text" %>
        <label class="label">Structure : 
        <div class="control">
          <div class="select"><%= f.select :structure, [['One Column', 'One Column'], ['Two Column', 'Two Column']] %></div>
        </div>
        </label>
        <% end %>

         <label class="label">Option "Others"</label>
        <%= f.check_box :mandatory, id: 'switch', disabled: params[:edit].present? ? false : true%>
        <label class="toggle" for="switch"></label>
        <label class="label">This question is mandatory?</label>
        <%= f.check_box :mandatory, id: 'switch', disabled: params[:edit].present? ? false : true%>
        <label class="toggle" for="switch"></label>
            </div>
        </div>
    </div>
</div>