<%= form_for(:questionaire, url: '') do |f|%>
<div class="columns is-multiline">
    <div class="column is-12">
        <label><%= @question_group.name%> : <%= @question_group.description%></label>
    </div>
    <div class="column is-12">
        
        <h3 class="title"><%= @question.code %>. 
        <% if !params[:lang].present? || params[:lang] == 'English' %>
            <%= @question&.description&.present? ? @question.description.html_safe : "" %>
        <% else %>
            <%= Question.query_language(@question, params[:lang])%>
        <% end %>
         <%= @question&.limit&.present? ? @question.limit : "" %></h3>
         <%= @question.q_desc.present? ? @question.q_desc : ""%>
    </div>
    <div class="column is-12">
        <% if !params[:lang].present? || params[:lang] == 'English' %>
            <%= render '/users/manage/surveys/shared/survey_questionaire/answer_types', f:f%>
            <br/>
            <%= @question.help.present? ? @question.help : ""%>
        <% else %>
            <%= render '/users/manage/surveys/shared/survey_questionaire/answer_types_language', f:f%>
            <br/>
            <%= @question.help.present? ? @question.help : ""%>
        <% end %>
    </div>
    <div class="column is-12 has-text-right pl-20" style="bottom:20px;position:absolute">
        <% if @preview_mode == 'Question'%>
            <%= link_to 'Back', :back , class: 'button is-dark'%>
        <% end %>
        
        <% if @preview_mode != 'Question' %>
            <% if @question_group.questions.size == params[:q].to_i%>
                <%= link_to 'Back',   preview_users_manage_surveys_path(@survey.id, g: params[:g].to_i - 1 , q: 1), class: 'button is-dark'%>
                <%= link_to 'Next', preview_users_manage_surveys_path(@survey.id, g: params[:g].to_i + 1 , q: 1), class: 'button is-primary-gradient'%>
            <% else %>
                <% if params[:q].to_i == 1%>
                    <% if @survey.show_intro_screen == true%>
                        <%= link_to 'Back',   preview_users_manage_surveys_path(@survey.id, intro: true), class: 'button is-dark'%>
                    <% else %>
                        <%= link_to 'Back',   preview_users_manage_surveys_path(@survey.id, g: params[:g].to_i - 1 , q: 1), class: 'button is-dark'%>
                    <% end %>
                <% else %>
                    <%= link_to 'Back',   preview_users_manage_surveys_path(@survey.id, g: params[:g] , q: params[:q].to_i - 1), class: 'button is-dark'%>
                <% end %>
                <%= link_to 'Next', preview_users_manage_surveys_path(@survey.id, g: params[:g] , q: params[:q].to_i + 1), class: 'button is-primary-gradient'%>
            <%  end %>
        <% end %>
    </div>
</div>
<% end %>
<script>
<%= render '/users/manage/surveys/shared/survey_questionaire/answer_types.js'%>
</script>