<style>
p{
    font-size: 18px !important;
}
</style>

<%if params[:lang].present? %>
     <% @url = preview_users_manage_surveys_path(lang: params[:lang]) %>
<% else %>
    <% @url = preview_users_manage_surveys_path %>
<% end %>
<%= form_for(:question, url: @url, method: :post, html: {id: 'form'}) do |f|%>

<!-- Checking if the question is looping question or normal question -->
<% if @question.survey_position != nil %>
<%= f.hidden_field :position, value: @question.survey_position + 1 %>
<%= hidden_field_tag 'current_question_position',@question.survey_position %>
<% else %>
<%= hidden_field_tag 'current_question_position',@question.loop_position %>
<%= hidden_field_tag 'looping_question', true %>
<% end %>

<div class="columns is-mobile is-centered">
  <div class="column is-half">
     <h1 class="timer has-text-centered">Duration :<span id="time">00:00:00</span></h1>
    </div>
    <%= f.hidden_field :time_per_question, value: "" ,class: "question_time_per_question"%>
</div>
<div class="columns is-multiline">
    <div class="column is-12 has-text-centered">
        <h2 class="title" ><%= @question.survey.survey_setting.enable_group_code == true ? "#{@question.question_group.name} :" : nil%> <%= @question.question_group.description%></h2>
    </div>
    <div class="column is-12">
        <h2 style="font-size:21px !important"><%= @question.survey.survey_setting.enable_question_code == true ? "#{@question.code}" : nil %>. </h2>
        
        <% if !params[:lang].present? || params[:lang] == 'English' %>
            <% if @interpolation.size > 0 %>
                <%= @question&.description&.present? ? @question.description.html_safe % @interpolation : "" %>
            <% else %>
                <%= @question&.description&.present? ? @question.description.html_safe : "" %>
            <% end %>
        <% else %>
            <%= Question.query_language(@question, params[:lang])%>
        <% end %>
        
        <% if !params[:lang].present? || params[:lang] == 'English' %>
            <%= @question.question_desc.present? ? @question.question_desc : ""%>
        <% else %>
            <%= Question.question_desc_query_language(@question, params[:lang])%>
        <% end %>
            
        <%= render '/users/manage/surveys/shared/survey_questionaire/warning'%>
    </div>

    <div id="timer"></div>
    <div class="column is-12">
        <% if !params[:lang].present? || params[:lang] == 'English' %>
            <%= render '/users/manage/surveys/shared/survey_questionaire/answer_types', f:f%>
            <br/>
            <%= @question.help.present? ? @question.help : ""%>
        <% else %>
            <%= render '/users/manage/surveys/shared/survey_questionaire/answer_types_language', f:f%>
            <br/>
            <%= Question.help_query_language(@question, params[:lang]).html_safe%>
        <% end %>
    </div>
    <div class="bottom-bar" >
        <div class="bar-content">
            <% if @preview_mode == 'Question'%>
                <%= link_to 'Back', :back, method: :get , class: 'button is-dark'%>
            <% end %>
            
            <!-- Button for preview next or previous -->
            <% if @preview_mode != 'Question' %>
                <div class="columns is-multiline">
                    <div class="column is-6 has-text-left">
                        <% if @question.survey_position != nil %>
                            <%= link_to '<i class="fas fa-chevron-left"></i>'.html_safe, preview_users_manage_surveys_path(@survey.id, question: {position: cookies[:previous_question_position].present? ? cookies[:previous_question_position] : @question.survey_position - 1}, current_question_position: @question.survey_position, back_request: true, lang: params[:lang].present? ? params[:lang] : 'English') , class:'button is-dark is-rounded is-large', id: 'back-question', method: :post%>
                        <% else %>
                            <%= link_to '<i class="fas fa-chevron-left"></i>'.html_safe, preview_users_manage_surveys_path(@survey.id, question: {position: @question.parent_question.survey_position}, back_request: true, lang: params[:lang].present? ? params[:lang] : 'English') , class:'button is-dark is-rounded is-large', id: 'back-question', method: :post%>
                        <% end %>
                    </div>
                    <div class="column is-6 has-text-right">
                        <%= button_tag '<i class="fas fa-chevron-right"></i>'.html_safe, class: 'button is-dark is-rounded is-large next-question'%>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
<% end %>
<script>
<%= render '/users/manage/surveys/shared/survey_questionaire/answer_types.js'%>
</script>
<script>
var self = $('#form');

$('.next-question').on('click', function(event){
    event.preventDefault();
    <% if @question.q_type.include? 'Checkbox'%>
    var answer = [];
    $.each($("input[name='question[answer][]']:checked"), function(){
        answer.push($(this).val());
    });
    <% elsif @question.q_type.include? 'Radio' %>
        var answer = [];
    $.each($("input[name='question[answer]']:checked"), function(){
        answer.push($(this).val());
    });
    <% else %>
        var answer =  $("input[name='question[answer]'").val()
    <% end %>
    $.get("/users/manage/settings/quotas/<%= @survey.id %>/check_quota", { question_id: <%=@question.id%> , answer: JSON.stringify(answer), session: '<%= cookies[:survey_session]%>'} , function(data, status){
         console.log(data)
        if(data.status == 200){
            self.submit()
        } else {
            Swal.fire({
                    title: 'Warning!',
                    text: data.message,
                    icon: 'error',
                    confirmButtonText: 'Confirm'
                }).then(function() {
                    if(data.url == ''){
                        window.location.href =  $(location).attr("pathname") + "?final=true"
                    } else{
                        window.location.href =  data.url
                    }
                });
           
        }
    });
});
</script>