<%= form_for(:question, url: preview_users_manage_surveys_path, method: :post) do |f|%>
<%= f.hidden_field :position, value: @question.survey_position + 1 %>
<div class="columns is-multiline">
    <div class="column is-12 has-text-centered">
        <h2 class="title"><%= @question.question_group.name%> : <%= @question.question_group.description%></h2>
    </div>
    <div class="column is-8">
        <h3 class="is-size-5" style="margin-bottom: 0.80em"><%= @question.code %> <%= @question&.description&.present? ? @question.description.html_safe : "" %> <%= @question&.limit&.present? ? @question.limit : "" %></h3>
        <%= render '/users/manage/surveys/shared/survey_questionaire/label_question_type', f:f%>
    </div>
    <div class="column is-4">
       <div class="card-image has-text-centered pb-10">
        <figure class="image is-128x128 is-inline-block">
            <% @image = Survey.find(@question.question_group.survey_id) %>
            <% if @image.image_data? %>
                <%= image_tag @image.image_url %>
            <% else %>
                 <%= image_tag Company.find(@image.user_id).image_url.present? ? Company.find(@image.user_id).image_url : "" %>
            <% end %>
            
        </figure>
    </div>
    </div>
    <div class="column is-12">
        <%= render '/users/manage/surveys/shared/survey_questionaire/answer_types', f:f%>
    </div>
    <div class="column is-12 has-text-right pl-20" style="bottom:20px;position:absolute">
        <% if @preview_mode == 'Question'%>
            <%= link_to 'Back', :back , class: 'button is-dark'%>
        <% end %>
        
        <% if @preview_mode != 'Question' %>
            <%= f.submit 'Next', class: 'button is-primary-gradient next-question'%>
        <% end %>
    </div>
</div>
<% end %>
<script>
<%= render '/users/manage/surveys/shared/survey_questionaire/answer_types.js'%>
</script>