<%if params[:lang].present? %>
     <% @url = preview_users_manage_surveys_path(lang: params[:lang]) %>
<% else %>
    <% @url = preview_users_manage_surveys_path %>
<% end %>
<%= form_for(:question, url: @url, method: :post) do |f|%>
<%= f.hidden_field :position, value: @question.survey_position + 1 %>
<%= hidden_field_tag 'current_question_position',@question.survey_position %>
<div class="columns is-mobile is-centered">
  <div class="column is-half">
     <h1 class="timer has-text-centered">Duration : <span><time>00:00:00</time></span></h1>
    </div>
</div>
<div class="columns is-multiline">
    <div class="column is-12 has-text-centered">
        <h2 class="title"><%= @question.question_group.name%> : <%= @question.question_group.description%></h2>
    </div>
    <div class="column is-8">
        <h3 class="is-size-5" style="margin-bottom: 0.80em"><%= @question.code %> 
        <% if !params[:lang].present? || params[:lang] == 'English' %>
            <%= @question&.description&.present? ? @question.description.html_safe % @interpolation : "" %>
        <% else %>
            <%= Question.query_language(@question, params[:lang])%>
        <% end %>
        <%= @question&.limit&.present? ? @question.limit : "" %></h3>
        <% if !params[:lang].present? || params[:lang] == 'English' %>
           <%= @question.question_desc.present? ? @question.question_desc : ""%>
        <% else %>
            <%= Question.question_desc_query_language(@question.html_safe, params[:lang])%>
        <% end %>
        
        <%= render '/users/manage/surveys/shared/survey_questionaire/warning'%>
    </div>
    <div class="column is-4">
       <div class="card-image has-text-centered">
            <figure class="image is-128x128 is-inline-block" style="position: absolute">
                <% @image = Survey.find(@question.question_group.survey_id) %>
                <% if @image.image_data? %>
                    <%= image_tag @image.image_url %>
                <% end %>  
            </figure>
        </div>
    </div>
        <div id="timer"></div>
    <div class="column is-12">
        <% if !params[:lang].present? || params[:lang] == 'English' %>
            <%= render '/users/manage/surveys/shared/survey_questionaire/answer_types', f:f%>
            <br/>
            <%= @question.help.present? ? @question.help : ""%>
        <% else %>
            <%= render '/users/manage/surveys/shared/survey_questionaire/answer_types_language', f:f%>
            <br/>
            <%= Question.help_query_language(@question, params[:lang]).html_safe%>
        <% end %>
    </div>
    <div class="column is-12 has-text-right pl-20 pt-40" style="bottom:20px;position:relative">
        <% if @preview_mode == 'Question'%>
            <%= link_to 'Back', :back, method: :get , class: 'button is-dark'%>
        <% end %>
        
        <% if @preview_mode != 'Question' %>   
            <%= link_to 'Back', preview_users_manage_surveys_path(@survey.id, question: {position: @question.survey_position - 1}, current_question_position: @question.survey_position, back_request: true, lang: params[:lang].present? ? params[:lang] : 'English') , class:'button is-dark', id: 'back-question', method: :post%>
            <%= f.submit 'Next', class: 'button is-primary-gradient next-question'%>
        <% end %>
    </div>
</div>
<% end %>
<script>
<%= render '/users/manage/surveys/shared/survey_questionaire/answer_types.js'%>


</script>