<%= form_for(:question, url: preview_users_manage_surveys_path, method: :post) do |f|%>
    <% @verify_question = Question.where(position: @question.position + 1, question_group_id: @group.id).first %>
    <% if @verify_question.present? %>
        <%= f.hidden_field :position, value: @question.position + 1 %>
    <% else %>
        <%= f.hidden_field :position, value: 1 %>
    <% end %>
<% if @group.present?%>
    <% if @group.questions.size < @question.position + 1 %>
    <%= f.hidden_field :group_position, value: @group.position + 1 %>
    <% else %>
    <%= f.hidden_field :group_position, value: cookies[:group_position]%>
    <% end %>
<% else %>
    <%= f.hidden_field :group_position, value: cookies[:group_position]%>
<% end %>
<div class="columns is-multiline">
    <div class="column is-12">
        <label><%= @question.question_group.name%> : <%= @question.question_group.description%></label>
    </div>
    <div class="column is-12">
        <h3 class="title"><%= @question.code %> <%= @question&.description&.present? ? @question.description.html_safe : "" %> <%= @question&.limit&.present? ? @question.limit : "" %></h3>
    </div>
    <div class="column is-12">
        <%= render '/users/manage/surveys/shared/survey_questionaire/answer_types', f:f%>
    </div>
    <div class="column is-12 has-text-right pl-20" style="bottom:20px;position:absolute">
        <% if @preview_mode == 'Question'%>
            <%= link_to 'Back', :back , class: 'button is-dark'%>
        <% end %>
        
        <% if @preview_mode != 'Question' %>
            <%= f.submit 'Next', class: 'button is-primary-gradient next-question'%>
        <% end %>
    </div>
</div>
<% end %>
<script>
<%= render '/users/manage/surveys/shared/survey_questionaire/answer_types.js'%>
</script>