<%if params[:lang].present? %>
     <% @url = preview_users_manage_surveys_path(lang: params[:lang]) %>
<% else %>
    <% @url = preview_users_manage_surveys_path %>
<% end %>
<%= form_for(:question, url: @url, method: :post, html: {id: 'form'}) do |f|%>
<%= f.hidden_field :position, value: @question.survey_position + 1 %>
<%= hidden_field_tag 'current_question_position',@question.survey_position %>
<div class="columns is-mobile is-centered">
  <div class="column is-half">
     <h1 class="timer has-text-centered">Duration :<span id="time">00:00:00</span></h1>
    </div>
    <%= f.hidden_field :time_per_question, value: "" ,class: "question_time_per_question"%>
</div>
<div class="columns is-multiline">
    <div class="column is-12 has-text-centered">
        <h2 class="title"><%= @question.survey.survey_setting.enable_group_code == true ? "#{@question.question_group.name} :" : nil%> <%= @question.question_group.description%></h2>
    </div>
    <div class="column is-12">
        <h2><%= @question.survey.survey_setting.enable_question_code == true ? "#{@question.code}" : nil %>. </h2>
         <% if !params[:lang].present? || params[:lang] == 'English' %>
        <%= @question&.description&.present? ? @question.description.html_safe % @interpolation : "" %>
        <% else %>
            <%= Question.query_language(@question, params[:lang])%>
        <% end %>
        
        <% if !params[:lang].present? || params[:lang] == 'English' %>
            <%= @question.question_desc.present? ? @question.question_desc : ""%>
        <% else %>
            <%= Question.question_desc_query_language(@question, params[:lang])%>
        <% end %>
            
        <%= render '/users/manage/surveys/shared/survey_questionaire/warning'%>
    </div>

    <div id="timer"></div>
    <div class="column is-12">
        <% if !params[:lang].present? || params[:lang] == 'English' %>
            <%= render '/users/manage/surveys/shared/survey_questionaire/answer_types', f:f%>
            <br/>
            <%= @question.help.present? ? @question.help : ""%>
        <% else %>
            <%= render '/users/manage/surveys/shared/survey_questionaire/answer_types_language', f:f%>
            <br/>
            <%= Question.help_query_language(@question, params[:lang]).html_safe%>
        <% end %>
    </div>
    <div class="column is-12 has-text-right pl-20 pt-40" style="bottom:20px;position:relative">
        <% if @preview_mode == 'Question'%>
            <%= link_to 'Back', :back, method: :get , class: 'button is-dark'%>
        <% end %>
        
        <% if @preview_mode != 'Question' %>   
            <%= link_to 'Back', preview_users_manage_surveys_path(@survey.id, question: {position: cookies[:previous_question_position].present? ? cookies[:previous_question_position] : @question.survey_position - 1}, current_question_position: @question.survey_position, back_request: true, lang: params[:lang].present? ? params[:lang] : 'English') , class:'button is-dark', id: 'back-question', method: :post%>
            <%= button_tag 'Next', class: 'button is-primary-gradient next-question'%>
        <% end %>
    </div>
</div>
<% end %>
<script>
<%= render '/users/manage/surveys/shared/survey_questionaire/answer_types.js'%>
</script>
<script>
var self = $('#form');

$('.next-question').on('click', function(event){
    event.preventDefault();
    <% if @question.q_type == 'Checkbox' || @question.q_type == 'Checkbox With Comment' || @question.q_type == 'Checkbox With Limit' || @question.q_type == 'Checkbox Input Text' %>
    var answer = [];
    $.each($("input[name='question[answer][]']:checked"), function(){
        answer.push($(this).val());
    });
    <% else %>
        var answer =  $("input[name='question[answer]'").val()
    <% end %>
    $.get("/users/manage/settings/quotas/<%= @survey.id %>/check_quota", { question_id: <%=@question.id%> , answer: JSON.stringify(answer)} , function(data, status){
        console.log(data)
        if(data.status == 200){
            self.submit()
        } else {
            alert(data.message)
            window.location.href =  $(location).attr("pathname") + "?final=true"
        }
    });
});
</script>