
<meta name="turbolinks-visit-control" content="reload">
<main class="column">
<nav class="breadcrumb is-medium" aria-label="breadcrumbs">
  <ul>
    <li><%= link_to "Dashboard", root_path %></li>
    <li><%= link_to "Survey Listings", users_manage_surveys_path %></li>
    <li><%= link_to Survey.find(@question_group.survey_id).title , users_manage_survey_path(Survey.find(@question_group.survey_id).id) %></li>
    <li class="is-active"><%= link_to "Question Group #{@question_group.id}" , users_manage_question_group_path(@question_group.id), 'aria-current': "page" %></li>
  </ul>
</nav>
    <%= form_for :question_group, url: users_manage_question_group_path(params[:id]), method: :put do |f|%>
        <div class="level">
            <div class="level-left">
            <div class="level-item">
                <div class="title">Group #<%= @question_group.id %> Summary</div>
            </div>
            </div>
            <div class="level-right">
            <div class="level-item">
                <button type="button" class="button is-small">
                March 8, 2017
                </button>
            </div>
            </div>
        </div>
        <section class="columns">
            <div class="column is-12">
                <%= link_to 'Back to survey', users_manage_survey_path(@question_group.survey_id), class: 'button is-black', 'data-turbolinks' => false%>
                <% if params[:edit].present? %>
                    <%= f.submit 'Update', class: 'button is-primary'%>
                <% end %>
                <%= link_to '<i class="fa fa-eye pr-2"></i> Preview Group'.html_safe, preview_users_manage_question_group_path(params[:id], @question_group.questions.present? ? @question_group.questions.first.id : 0), data: {turbolinks: false}, class: 'button is-primary', id: "#{@question_group.questions.size == 0 ? 'warning' : nil}"%>
            </div>
        </section>
        <section class="columns">
            <div class="column is-3">
                <%= render '/users/manage/question_groups/shared/menu'%>
            </div>
            <div class="column is-9">
                <section class="columns is-multiline">
                    <div class="column is-12">
                        <div class="card">
                            <div class="card-content">
                                <%= render '/users/manage/question_groups/shared/error_logics'%>
                                <%= hidden_field_tag :external, value: true %>
                                <%= render '/users/manage/question_groups/shared/form_readonly', f:f%>
                            </div>
                        </div>
                    </div>
                    <div class="column is-12">
                        <div class="card">
                            <div class="card-header">
                                <p class="card-header-title">Questions</p>
                            </div>
                            <div class="card-content">
                                <table class="display questions-datatable" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th></th>
                                            <th>Code</th>
                                            <th>Group ID</th>
                                            <th>Question</th>
                                            <th>Question Type</th>
                                            <th>Group</th>
                                            <th>Mandatory</th>
                                            <th>Answers</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% @question_group.questions.order(position: :asc).each_with_index do |question, index|%>
                                            <%= render '/users/manage/questions/tables/questions', question: question, index: index%>
                                        <% end %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    <% end %>
</main>
<%= render '/users/manage/questions/shared/question_types'%>
<script>
$('#warning').click(function(e){
    e.preventDefault()
 Swal.fire({
        title: 'Warning!',
        text: 'You dont have any questionaire attach to this group yet !',
        icon: 'error',
        confirmButtonText: 'Confirm'
    });
})

</script>