<main class="column">
    <%= form_for @question, url: users_manage_question_path(params[:id]), method: :put do |f|%>
        <div class="level">
            <div class="level-left">
            <div class="level-item">
                <div class="title"><%= @question.code%></div>
            </div>
            </div>
            <div class="level-right">
            <div class="level-item">
                <button type="button" class="button is-small">
                March 8, 2017
                </button>
            </div>
            </div>
        </div>
        <section class="columns">
            <div class="column is-12">
                <div class="pb-10">
                <%= link_to 'Back to group', users_manage_question_group_path(params[:group_id], survey_id: @question.question_group.survey.id), class: 'button is-black', 'data-turbolinks' => false%>
                <% if params[:edit].present? %>
                    <%= f.submit 'Update', class: 'button is-primary'%>
                <% end %>
                </div>
                <%= link_to '<i class="fa fa-edit"></i> Edit Question'.html_safe, users_manage_question_path(params[:id], group_id: @question.question_group.id, edit: true), data: {turbolinks: false}, class: 'button is-primary'%>
                <a class="button is-primary"><i class="fa fa-code-branch"></i> Copy Question</a>
                <%= link_to '<i class="fa fa-times-circle"></i> Delete Question'.html_safe, users_manage_question_path(params[:id]), :method => :delete, data: {confirm: 'Are you sure want delete this question?'}, class: 'button is-danger'%>
                
            </div>
        </section>
        <section class="columns">
            <div class="column is-12">
                <section class="columns is-multiline">
                    <div class="column is-12">
                        <div class="card">
                            <div class="card-content">
                                <%= render '/users/manage/questions/shared/form' , f:f%>
                            </div>
                        </div>
                    </div>
                   <% if @question.q_type != 'Textarea'%>
                        <%= render '/users/manage/questions/tables/answers', f:f%>
                   <% end %>
                </section>
            </div>
        </section>
    <% end %>
</main>
<script>
    $('#question_q_type').on('change', function(){
        $.post('<%=change_type_users_manage_questions_path %>', 
            {id: <%= params[:id] %>, type: $(this).val()})
            .done(function(response){
                console.log(response)
            })
    })
</script>