 <% @enable_other_1 = @question.enable_other_1 %>
 <% @enable_other_2 = @question.enable_other_2 %>
 <div class="column is-12">
    <div class="card">
        <div class="card-header">
            <p class="card-header-title">Answer Listings 
            <%= link_to "<i class='fa fa-plus'> </i> Add Answer".html_safe, users_manage_question_answers_path(question_answer:{:code => "A", :value => @question.question_answers.last.value.to_i + 1,:exact_value => 'New Question', :question_id => @question.id}), 
            method: :post, remote:true, class: 'button is-primary is-circle is-small add-answer' %>
            </p>
        </div>
        <div class="card-content">
            <div id='answers-list' class="list-group columns is-multiline" data-url="<%= sort_users_manage_question_answers_path%>">
                <%= f.fields_for :question_answers, f.object.question_answers.order(position: :asc) do |ff|%>
                    <div class="answer list-group-item  column is-12 columns is-multiline" id='<%= dom_id(ff.object)%>'>
                        <div class="card column is-11">
                            <div class="card-header">
                                <p class="card-header-title">
                                <i class='fa fa-bars pr-5'></i> 
                                <div class="pr-3">
                                <%= ff.text_field :code, class: 'input'%></div>
                                <% if !params[:lang].present? || params[:lang] == 'English'%>
                                    <%= ff.text_field :exact_value, class: 'input'%>
                                <% end %>
                                 <% @languages.each_with_index do |l, index| %>
                                    <% if index != 0%>
                                        <%= text_field_tag "question[question_answers_attributes][#{ff.index}][other_language][#{l.name}]", QuestionAnswer.query_language(ff.object, l.name), class: "input list-answer #{params[:lang] == l.name ? 'active' : nil}", disabled: params[:edit].present? ? false : true%>
                                    <% end %>
                                <% end %>
                                <%= ff.hidden_field :id%>
                                </p>
                            </div>
                            <div class="columns  pt-20">
                                <div class="column is-4">
                                    <% if @enable_other_1 %>
                                        <div class="field">
                                            <label class="checkbox">
                                            <%= ff.check_box :display_input_box_1%>
                                            Display input box 1?
                                            </label>
                                        </div>
                                    <% end %>
                                    <% if @enable_other_2 %>
                                        <div class="field">
                                            <label class="checkbox">
                                            <%= ff.check_box :display_input_box_2%>
                                            Display input box 2?
                                            </label>
                                        </div>
                                    <% end %>
                                </div>
                                <div class="column is-4">
                                    <% if @enable_other_1 %>
                                        <div class="field">
                                            <%= ff.text_field :input_box_1_label, class: 'input is-small'%>
                                        </div>
                                    <% end %>
                                    <% if @enable_other_2 %>
                                        <div class="field">
                                            <%= ff.text_field :input_box_2_label, class: 'input is-small'%>
                                        </div>
                                    <% end %>
                                </div>
                                <div class="column is-4">
                                <% if @enable_other_1 %>
                                    <div class="field">
                                        <div class="select">
                                            <%= ff.select :input_box_1_type, options_for_select(['Text', 'Textarea', 'Number', 'Integer', 'Currency', 'Percentage'], selected: ff.object.input_box_1_type), include_blank: 'Please select type' %>
                                        </div>
                                    </div>
                                <% end %>
                                <% if @enable_other_2 %>
                                     <div class="field">
                                         <div class="select">
                                            <%= ff.select :input_box_2_type, options_for_select(['Text', 'Textarea', 'Number', 'Integer', 'Currency', 'Percentage'], selected: ff.object.input_box_2_type), include_blank: 'Please select type' %>
                                        </div>
                                    </div>
                                <% end %>
                                </div>
                            </div>
                        </div>
                        <div class="column is-1">
                            <p class="buttons pt-5">
                                <%= link_to '<span class="icon is-small"><span class="icon is-small"><i class="fa fa-times"></i></span></a>'.html_safe, users_manage_question_answer_path(ff.object),
                                :method => :delete, remote: true, class: 'delete_answer button is-small is-danger', data: { confirm: 'Are you sure?' }%>
                            </p>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
<script>
<%= render '/users/manage/question_answers/js/delete_answer.js'%>
<%= render '/users/manage/question_answers/js/add_answer.js'%>
</script>