<tr>
    <td><%= index.to_i + 1%></td>
    <td><i class='fa fa-bars'></i></td>
    <td><%= question.code %></td>
    <td><%= question.question_group_id %></td>
    <td><%= question.description %></td>
    <td><%= question.q_type %></td>
    <td><%= question.question_group.name %></td>
    <td><%= question.mandatory == true ? '<i class="fa fa-check-circle" style="color:green"></i>'.html_safe : '<i class="fa fa-times-circle" style="color:red"></i>'.html_safe %></td>
    <td><%= question.question_answers.size > 0 ? question.question_answers.size : '<i class="fa fa-times-circle" style="color:red"></i>'.html_safe %></td>
    <td>
        <p class="buttons">
            <%= link_to '<span class="icon is-small"><i class="fa fa-eye"></i></span>'.html_safe, users_manage_question_path(question.id, group_id: @question_group.id), data: {turbolinks: false}, class: 'button is-small is-success action'%>
            <%= link_to '<span class="icon is-small"><i class="fa fa-cog"></i></span>'.html_safe, users_manage_question_path(question.id, group_id: @question_group.id,edit:true), class: 'button is-small is-primary action'%>
            <%= link_to '<span class="icon is-small"><i class="fa fa-times"></i></span>'.html_safe, users_manage_question_path(question.id, group_id: @question_group.id, survey_id: params[:survey_id]), :method => :delete, :data => {confirm: 'Are you sure want delete this question?'}, class: 'button is-small is-danger action'%>
        </p>
    </td>
</tr>
<div id="result">
</div>