 <div class="column is-12">
    <div class="card">
        <div class="card-header">
            <p class="card-header-title">Subquestion Listings 
            <%= link_to "<i class='fa fa-plus'> </i> Add Subquestion".html_safe, users_manage_subquestions_path(subquestion:{:code => 'S',:exact_value => 'New Question', :question_id => @question.id}), 
            method: :post, remote:true, class: 'button is-primary is-circle is-small add-subquestion' %>
            </p>
        </div>
        <div class="card-content">
            <div id='subquestion-list' class="list-group columns is-multiline" data-url="<%= sort_users_manage_subquestions_path%>">
                <%= f.fields_for :subquestions, f.object.subquestions.order(position: :asc) do |ff|%>
                    <div class="subquestions list-group-item  column is-12 columns is-multiline" id='<%= dom_id(ff.object)%>'>
                        <div class="card column is-11">
                            <div class="card-header">
                                <p class="card-header-title">
                                <i class='fa fa-bars pr-5'></i> 
                                <div class="pr-3">
                                <%= ff.text_field :code, class: 'input'%></div>
                                <% if !params[:lang].present? || params[:lang] == 'English'%>
                                    <%= ff.text_field :exact_value, class: 'input'%>
                                <% end %>
                                 <% @languages.each_with_index do |l, index| %>
                                    <% if index != 0%>
                                        <%= text_field_tag "subquestions[question_answers_attributes][#{ff.index}][other_language][#{l.name}]", Subquestion.query_language(ff.object, l.name), class: "input list-answer #{params[:lang] == l.name ? 'active' : nil}", disabled: params[:edit].present? ? false : true%>
                                    <% end %>
                                <% end %>
                                <%= ff.hidden_field :id%>
                                </p>
                            </div>
                        </div>
                        <div class="column is-1">
                            <p class="buttons pt-15">
                                <%= link_to '<span class="icon is-small"><span class="icon is-small"><i class="fa fa-times"></i></span></a>'.html_safe, users_manage_subquestion_path(ff.object),
                                :method => :delete, remote: true, class: 'delete_subquestion button is-small is-danger', data: { confirm: 'Are you sure?' }%>
                            </p>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
<script>
    <%= render '/users/manage/subquestions/js/add_subquestions.js'%>
    <%= render '/users/manage/subquestions/js/delete_subquestions.js'%>
</script>