<p id="notice"><%= notice %></p>

<h1>Subquestions</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Code</th>
      <th>Value</th>
      <th>Exact value</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subquestions.each do |subquestion| %>
      <tr>
        <td><%= subquestion.question_id %></td>
        <td><%= subquestion.code %></td>
        <td><%= subquestion.value %></td>
        <td><%= subquestion.exact_value %></td>
        <td><%= subquestion.position %></td>
        <td><%= link_to 'Show', subquestion %></td>
        <td><%= link_to 'Edit', edit_subquestion_path(subquestion) %></td>
        <td><%= link_to 'Destroy', subquestion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
