

<main class="column">
<nav class="breadcrumb is-medium" aria-label="breadcrumbs">
  <ul>
    <li><%= link_to "Dashboard", root_path %></li>
    <li><%= link_to "Survey", users_manage_surveys_path %></li>
    <li><%= link_to "Submission", users_manage_submission_path(@breadcrumb.survey_id) %></li>
    <li class="is-active"><%= link_to "Details Submission", detail_submissions_users_manage_submissions_path, 'aria-current': "page" %></li>
  </ul>
</nav>
    <div class="level">
        <div class="level-left">
        <div class="level-item">
            <div class="title">Detail Submission</div>
        </div>
        </div>
        <div class="level-right">
        <div class="level-item">
            <button type="button" class="button is-small">
            March 8, 2017
            </button>
        </div>
        </div>
    </div>

    <section class="columns is-multiline">
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <div class="container">
                        <table class="display datatable" style="width:100%">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Question</th>
                                    <th>Answer</th>
                                    <th>Time Answer</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @submissions.each_with_index do |a, index|%>
                                    <tr>
                                        <td><%= index + 1 %></td>
                                        <td><%= a.question.description%></td>
                                        <% @answer = a.question.question_answers.where(value: a.value).first %>
                                        <td><%= @answer.present? ? @answer.exact_value : 'No answer'%></td>
                                        <td><%= a&.time_per_question&.strftime('%S')%> Second</td>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
