<!DOCTYPE html>
<html>
  <head>
    <title>Surveyapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.19.1/ui/trumbowyg.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.19.1/plugins/table/ui/trumbowyg.table.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://use.fontawesome.com/releases/v5.10.2/css/all.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.19.1/plugins/mention/ui/trumbowyg.mention.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bulma-tooltip@3.0.2/dist/css/bulma-tooltip.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Montserrat&display=swap', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/shared/nav'%>
    <div class="section">
      <div class="columns">
        <%= alert %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.19.1/trumbowyg.min.js', 'data-turbolinks-track': 'reload' %> 
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.19.1/plugins/table/trumbowyg.table.min.js', 'data-turbolinks-track': 'reload' %> 
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.19.1/plugins/mention/trumbowyg.mention.min.js', 'data-turbolinks-track': 'reload' %> 
<script>
$( document ).ready(function() {
  $('.select2').select2({
    dropdownAutoWidth : true,
    width: 400
})
  $(".openbtn").on("click", function() {
    $(".ui.sidebar").toggleClass("very thin icon");
    $(".asd").toggleClass("marginlefting");
    $(".sidebar z").toggleClass("displaynone");
    $(".ui.accordion").toggleClass("displaynone");
    $(".ui.dropdown.item").toggleClass("displayblock");

    $(".logo")
      .find("img")
      .toggle();
  });
  $(".ui.dropdown").dropdown({
    allowCategorySelection: true,
    transition: "fade up",
    context: "sidebar",
    on: "hover"
  });

  $(".ui.accordion").accordion({
    selector: {}
  });
});

</script>
<script>
$('.editor').trumbowyg({
    btns: [
        ['viewHTML'],
        <% if @question.present? %>
        ['mention'],
        <% end %>
        ['undo', 'redo'], // Only supported in Blink browsers
        ['formatting'],
        ['strong', 'em', 'del'],
        ['superscript', 'subscript'],
        ['link'],
        ['insertImage'],
        ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
        ['unorderedList', 'orderedList'],
        ['horizontalRule'],
        ['removeformat'],
        ['fullscreen']
    ],
    <% if @question.present? %>
    plugins: {
        mention: {
            source: [
                <% Question.where(survey_id: @question.survey_id).order(survey_position: :asc).each do |t|%>
                  {code: "<%=t.code%>", description: "<%= t.description%>"},
                <% end %>
            ],
            formatDropdownItem: function (item) {
                return item.code + ' (' + item.description + ')';
            },
            formatResult: function (item) {
                return '%{' + item.code + "_value" + '}';
            }
        }
    }
    <% end %>
});
</script>