<html>
  <head>
    <title>Surveyapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://use.fontawesome.com/releases/v5.10.2/css/all.css', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js', 'data-turbolinks-track': 'reload' %>
  </head>

  <style>
    body{
      /*background: linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);*/
      background: #63b7af;
    }
    .card{
      border-radius: 20px;
    }
    .bg-warning{
      background: #F2994A;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }
    .is-primary-gradient{
      color: white !important;
      background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(67,144,233,1) 0%, rgba(78,226,198,1) 90.1% );
      text-transform: uppercase;
    }
  </style>

  <body>
    <div class=""  style="padding-top: 40px!important;">
      <div class="columns is-multiline">
        <% if controller.action_name == 'preview' %>
          <div class="column is-3">
           <div class="control">
              <div class="card-image has-text-left" style="margin-left:30px;">
                <% if @survey.image_data? %>
                  <%= image_tag @survey.image_url , style:"max-width:80px;" %>
                <% else %>
                  <img id="blah" src="http://placehold.it/150" alt="your image" style=" max-width:80px;">
                <% end %>
              </div>
           </div>                 
          </div>
          <div class="column is-5">
            <div class="card">
              <div class="card-content has-text-centered">
                <h1 style="font-size: 40px;"><%= @survey.title%></h1>
              </div>
            </div>                
          </div>
          <div class="column is-2">
            <div class="content">
              <% if @survey.present? %>
                <h1 style="font-size: 50px;color:white;"><%= cookies[:question_position].present? ? cookies[:question_position] : 1 %>/<%= @survey.questions.size %></h1>   
              <% end %>
            </div>        
          </div>
          <div class="column is-2">
            <div class="content">
              <nav role='navigation'>
                <div id="menuToggle">
                  <!--
                  A fake / hidden checkbox is used as click reciever,
                  so you can use the :checked selector on it.
                  -->
                  <input type="checkbox" />
                  
                  <!--
                  Some spans to act as a hamburger.
                  
                  They are acting like a real hamburger,
                  not that McDonalds stuff.
                  -->
                  <span></span>
                  <span></span>
                  <span></span>
                  
                  <!--
                  Too bad the menu has to be inside of the button
                  but hey, it's pure CSS magic.
                  -->
                  <ul id="menu">
                    <li> 
                      <div class="field has-text-centered"  style="margin-right:30px;">
                        <label class="label" style="color: black">Change language</label>
                        <%= select_tag :change_language, options_for_select(@survey.survey_languages.map{|l| [l.name]}, selected: params[:lang].present? ? params[:lang] : nil), include_blank: 'Please select' %>
                      </div>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
          <div class="">
            <div class="card bg-warning"  style="width:100%">
            <!-- TEMP remove 
                <div class="card-content has-text-centered">
                    This is preview mode, no data will be save.
                </div>
            -->
            </div>
          </div>
        <% end %>
        <%= alert %>
        <%= yield %>
      </div>
    </div>
  </body>
  <script>
    <%= render '/layouts/shared/js/change_language.js'%>
  </script>
 
</html>